/**

=========================================================
** Custom General styling
=========================================================

**/

html {
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: $body-font;
    letter-spacing: rem(-0.5);
}

#hero {
    background: rgb(225, 39, 40);
    background: linear-gradient(
        90deg,
        rgba(225, 39, 40, 1) 15%,
        rgba(231, 68, 88, 1) 51%,
        rgba(255, 109, 127, 1) 100%
    );
}

#hero2 {
    background-image: url("../../components/assets/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 95% 175%;
}

.content--image {
    background-image: url("../../components/assets/bg_keseruan2.svg");

    background-repeat: no-repeat;
    background-size: cover;
}

.card--timeline {
    background-image: url("../../components/assets/bgtimelinecard.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    // @apply grid gap-8 sm:gap-16;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #c3e4ff;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #eae2ff;
    --gradient-color-4: #b9beff;
}

.content {
    &.text-xl {
        p {
            @apply leading-7;
        }
    }
}
